<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>bookstore</display-name>
	<welcome-file-list>
		<!-- <welcome-file>index.html</welcome-file> -->
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>javaMailProperties</param-name>
		<param-value>/WEB-INF/mail.properties</param-value>
	</context-param>

	<!-- Tomcat's default resource-serving servlet, used to serve static resources 
		such as HTML pages and images. -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FrontControllerServlet</servlet-name>
		<servlet-class>com.bookstore.controller.FrontControllerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AjaxControllerServlet</servlet-name>
		<servlet-class>com.bookstore.controller.AjaxControlerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontControllerServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxControllerServlet</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<description>Book Store Datasource</description>
		<res-ref-name>jdbc/bsDataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<listener>
		<listener-class>com.bookstore.listener.BookStoreContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>remember-filter</filter-name>
		<filter-class>com.bookstore.filter.RememberMeAuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>remember-filter</filter-name>
		<servlet-name>FrontControllerServlet</servlet-name>
	</filter-mapping>

	<!-- Display this page to handle unexpected exceptions gracefully. Otherwise 
		we get whatever error page the container chooses. -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/jsp/error_500.jsp</location>
	</error-page>

</web-app>